<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Showing Post</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h2>Here is your post in detail</h2>
    <p>Post id: <%=post.id%></p>
    
    <div class="post">
        <p>Account name: <%=post.username%></p>
        <p>Content: <%=post.content%></p>
    </div>

</body>
</html>